<% if comment.nil? %>
  <hr>
  <p> No comments </p>
<% else %>
  <div class="row">
    <div class="span12">
      <h5>Comments (<%= comment.length %>) </h5>
    </div> 
    <% comment.each do |comment| %>
    <div class="row">
      <div class="span12">
        <%= render "shared/vote" %>
        <div class="span8 well">
          <p><%= comment.body %></p>
        </div>
        <% end %>
      </div>
    </div>  
  </div>
<% end %>