<% if post.comments.nil? %>
  <hr>
  <p> No comments </p>
<% else %>
  <div class="row">
    <div class="span12">
      <h5>Comments (<%= post.comments.length %>) </h5>
    </div> 
    <% post.comments.each do |comment| %>
    <div class="row">
      <div class="span12">
        <%= render "shared/vote" %>
        <div class="span8 well">
          <p><%= comment.body %></p>
        </div>
        <% end %>
      </div>
    </div>  
  </div>
<% end %>